table td{
    padding: 10px;
    vertical-align: middle;

    &:first-of-type{
        padding-left: 0;
        width: 70px;
    }
}

input {
    padding: 8px 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 3px;
    border:1px solid #a9a9a9;
}

button {
    background: #e5e5e5;
    padding: 8px 15px;
    border-radius: 3px;
    border:1px solid #cccccc;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background: #d6d6d6;
    }
}